<h1>Pull Requests</h1>

<h2>Results: <%= @pull_requests.total_entries %></h2>

<%= simple_form_for @search, url: pull_requests_path, method: :get, as: :search do |f| %>
  <%= f.input :user_id, collection: GithubUser.alphabetized, required: false %>
  <%= f.input :repository_id, collection: Repository.alphabetized, required: false %>
  <%= f.submit 'Filter', class: 'btn btn-primary' %>
<% end %>

<%= will_paginate @pull_requests %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Repository</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @pull_requests.each do |pull_request| %>
      <tr>
        <td><%= pull_request.title %></td>
        <td><%= pull_request.repository.name %></td>
        <td><%= pull_request.github_user.login %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @pull_requests %>
