<h1>Comments</h1>

<h2>Results: <%= @comments.total_entries %></h2>

<%= simple_form_for @search, url: comments_path, method: :get, as: :search do |f| %>
  <%= f.input :user_id, collection: GithubUser.alphabetized, required: false %>
  <%= f.input :repository_id, collection: Repository.alphabetized, required: false %>
  <%= f.submit 'Filter', class: 'btn btn-primary' %>
<% end %>

<%= will_paginate @comments %>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Link</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.github_user.login %></td>
        <td><%= link_to comment.html_url, comment.html_url, target: '_blank' %></td>
        <td><%= truncate comment.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
